{% if engagement %}
    {#{% if engagement.getSecondPosition() or engagement.getThirdPosition() %}
        <div class="p-4 p-lg-5 mb-4 bg-white rounded-4 strong-shadow"> 
            <div id="recap1" class="d-flex flex-column gap-2">
                <h5 class="text-primary border-bottom mt-2 mb-0 pb-2">Autres postes souhaités</h5>
                <div class="d-flex flex-column gap-1">
                    <div class="info-group">
                        {% if engagement.getSecondPosition() %}
                        <div class="info">
                            <p class="info-label">2ème poste souhaité</p>
                            <p class="info-value">{{ engagement.getSecondPosition() }}</p>
                        </div>
                        {% endif %}
                        {% if engagement.getThirdPosition() %}
                        <div class="info">
                            <p class="info-label">3ème poste souhaité</p>
                            <p class="info-value">{{ engagement.getThirdPosition() }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}#}
{% endif %}