main {
  padding-top: 15vh;
}

main h1 {
  font-family: "Roboto-Bold";
  color: #4b5563;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url(../img/home-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
