{{ form_start(form, {
    'attr': {
        'id': 'reset-password-form', 
        'class': 'needs-validation',
        'novalidate': '',
    }
}) }}

    <div class="input-group input-group-lg flex-nowrap mb-3">
        <span class="input-group-text" id="emai"><i class="fas fa-key"></i></span>
        {{ form_widget(form.plainPassword) }}
        <span class="input-group-text input-group-text-end show-pass"><i class='bx bx-show'></i></span>
        <span class="input-group-text input-group-text-end hide-pass d-none"><i class='bx bx-hide'></i></span>
    </div>

    <div class="alert alert-danger text-start d-none" role="alert" id="validation-alert">
        <!-- Le message d'erreur de jQuery validate s'affichera ici -->
    </div>

    <hr class="mt-4" />

    <div class="w-100 text-end">
        <a class="security-link" href="{{ path('app_login') }}">Retour à la page de connexion</a>
    </div>

    <button id="reset-password-submit" type="submit" class="btn w-100 btn-lg btn-primary mt-3">
        Enregistrer
    </button>

    <button id="reset-password-loader" class="d-flex justify-content-center align-items-center gap-2 btn btn-primary btn-lg ms-auto mt-3 w-100 d-none" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Enregistrement...</span>
    </button>

{{ form_end(form) }}