<!-- Add Other Skill -->

<div
  id="addOtherSkill"
  class="modal modal-sm fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addOtherSkillLabel"
  aria-hidden="true"
>
  <form>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <label class="modal-title fs-5 mb-3" for="other_skill">Ajouter une compétence</label>
          <input type="text" class="form-control" id="other_skill" placeholder="Nom de la compétence" />
        </div>
        <div class="modal-footer d-flex flex-nowrap gap-1 border-0 pb-3 pt-0">
          <button type="button" class="btn btn-sm btn-danger w-100 d-flex justify-content-center align-items-center gap-2" data-bs-dismiss="modal">
            <i class="bx bx-x"></i> <span class="d-none d-lg-flex">Annuler</span>
          </button>
          <button id="submitAddOtherSkill" type="button" class="btn btn-sm btn-success w-100 d-flex justify-content-center align-items-center gap-2">
            <i class="bx bx-check"></i> <span class="d-none d-lg-flex">Ajouter</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

