<div class="d-flex justify-content-center my-4">
    <div class="alert alert-success text-center animate__animated animate__fadeIn px-4 mb-0">
        <span class="d-flex align-items-center gap-2"><i class="bx bx-check"></i> Passez directement à l'étape suivante !</span>
    </div>
</div>
