<button type="button" class="btn btn-outline-secondary ps-lg-1 prev-step d-flex align-items-center gap-1">
  <i class="bx bx-chevron-left"></i> 
  <span class="d-none d-lg-flex">Retour</span>
</button>
