<div class="d-flex gap-2">
  <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2">
    <i class="bx bx-download"></i> <span class="d-none d-lg-flex">Enregistrer ma candidature</span>
  </button>
  <button type="button" class="btn btn-outline-success pe-lg-1 next-step d-flex align-items-center gap-1">
    <span class="d-none d-lg-flex">Continuer</span> <i class="bx bx-chevron-right"></i>
  </button>
</div>
